<form method="post" action="{{ path('app_d_a_delete', {id: d_a.id}) }}" onsubmit="return confirm('Confirmer la suppression ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ d_a.id) }}">
    <button class="btn btn-sm btn-danger">Supprimer</button>
</form>
