{% extends 'base.html.twig' %}

{% block title %}Modifier DA{% endblock %}

{% block body %}
   

     {{ include('da/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_d_a_index') }}" class="mt-3 d-inline-block">Retour sur la liste</a>
{% endblock %}
